<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
    
    <title>XPS WF</title>
    
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

  </head>
  <body>    
    <div id="title-div">
      <h1>XPS Workfunction Calculator Ver. 0.1</h1>
      <form id="submit-form">
        
        <label for="myBrowser">Choose a SN:</label>
        <input id="submit-input" list="sn-browsers" name="snBrowser" />

        <datalist id="sn-browsers">
          {% for SN in SN_List %}
          <option value="{{SN}}"></option>
          {% endfor %}
        </datalist>

        <button id="submit-button" type="submit" role="button">Submit</button>        
      </form>
    </div>

        
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
